{% extends 'core/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block header %}
    <h1 class="h2">{{ project.name }}</h1>
    {% if member %}
        <span class="badge bg-primary">Member</span>
    {% elif can_sync %}
        <span class="badge bg-info">Collaborator</span>
    {% else %}
        <span class="badge bg-success">Follower</span>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{% url 'snippets:new-snippet' project.id %}" class="btn btn-sm btn-outline-secondary">New
                Snippet</a>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if project.image %}
        <div class="nav flex-column">
            <img src="{{ project.image.url }}" width="75%"
                 style="padding-left: 10px; object-fit: cover; object-position: center">
        </div>
    {% endif %}

    {% include 'core/sidebar.html' %}

{% endblock %}

{% block content %}
    <h3>Snippets</h3>
    {% if snippets %}
        {% for snippet in snippet_list %}
            <div class="card">
                <div class="card-header">
                    {{ snippet.name }} &mdash; {{ snippet.date }} &mdash; {{ snippet.user.display_name }}
                </div>
                <div class="card-body">
                    <audio controls src="{{ snippet.url }}" crossorigin="anonymous" preload="metadata"></audio>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-primary" role="alert">
            No snippets here! <a href="{% url 'snippets:new-snippet' project.id %}">Create</a> one.
        </div>
    {% endif %}
    {% include 'comments/comments.html' %}
{% endblock %}

{% block script %}
{% endblock %}
