{% extends './base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <main class="form-signin">
        <form method="POST">
            <img class="mb-4" src="{% static 'img/syncprojects.png' %}" alt="Syncprojects"/>
            <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.email.errors %}
                        <h4 class="alert-heading">Try again</h4>
                        Please fix the below issue(s):
                        <hr>{{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <label for="{{ form.email.id_for_label }}" class="visually-hidden">Email</label>
            <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}"
                   class="form-control" placeholder="Email" required autofocus>
            {% csrf_token %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            <p><a href="mailto:support@syncprojects.app">support@syncprojects.app</a></p>
        </form>
    </main>
{% endblock %}
