<div id="awp-wrapper">
    <div class="awp-player-thumb-wrapper">
        <div class="awp-player-thumb"></div>
        <div class="awp-playback-toggle"><i class="fa fa-play"></i></div>
    </div>
    <div class="awp-player-holder">
        <div class="awp-waveform-wrap">
            <div class="awp-waveform awp-hidden"></div>
            <div class="awp-waveform-img awp-hidden"><!-- image waveform backup -->
                <div class="awp-waveform-img-load"></div>
                <div class="awp-waveform-img-progress-wrap">
                    <div class="awp-waveform-img-progress"></div>
                </div>
            </div>
            <span class="awp-waveform-preloader"></span>
        </div>
    </div>
    <div class="awp-playlist-holder">
        <div class="awp-playlist-inner">
            <div class="awp-playlist-content">
                <!-- playlist items are appended here! -->
            </div>
        </div>
        <div class="awp-preloader"></div>
    </div>
</div>

<div id="awp-playlist-list">
    <ul id="playlist-audio1">
        {% for album, songs in albums %}
            {% for song in songs %}
                {% if song.show_in_player and song.signed_url %}
                <li class="awp-playlist-item" data-type="audio" data-mp3="{{ song.signed_url }}"
                    data-artist="{{ album.name }}" data-title="{{ song.name }}" data-download="{{ song.signed_url }}"
                    data-thumb="

                            {% if song.album.cover %}{{ song.album.cover.url }}{% elif project.image %}{{ project.image.url }}{% endif %}"></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>