<div id="audio-spinner" class="text-center">
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    <strong>Loading audio...</strong>
</div>
<span class="text-muted" id="region-display"></span>
<div id="waveform"></div>

<div id="player-controls" aria-label="Player Controls" hidden>
    <div class="btn-group" role="group">
        <button type="button" id="player-begin" class="btn btn-default player-control"><span
                class="fas fa-step-backward"></span></button>
        <button type="button" id="player-backward" class="btn btn-primary player-control"><span
                class="fas fa-fast-backward"></span></button>
        <button type="button" id="player-play" class="btn btn-success player-control"><span class="fas fa-play"></span>
        </button>
        <button type="button" id="player-forward" class="btn btn-primary player-control"><span
                class="fas fa-fast-forward"></span></button>
        <button type="button" id="player-loop" class="btn btn-default player-control"><span
                class="fas fa-undo"></span></button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" id="player-mute" class="btn btn-outline-danger player-control"><span
                class="fas fa-volume-off"></span></button>
        <button type="button" id="player-voldown" class="btn btn-secondary player-control"><span
                class="fas fa-volume-down"></span>
        </button>
        <button type="button" id="player-volup" class="btn btn-secondary player-control"><span
                class="fas fa-volume-up"></span></button>
        <span class="text-muted">Volume:&nbsp;</span><span class="text-muted" id="player-volume">-%</span>
    </div>
    <button class="btn btn-warning region-control" id="region-add">Add Region<span class="fas fa-plus"></span></button>
    <button class="btn btn-primary region-control" id="region-save" hidden>Save <span class="fas fa-save"></span>
    </button>
    <button class="btn btn-warning region-control" id="region-add">Party Session <i
            class="fa-solid fa-people-group"></i></button>

</div>
{% include 'player/region.html' %}

<span id="song_url" hidden>{{ song.signed_url }}</span>


