{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js@6.2.0/dist/wavesurfer.min.js"
        integrity="sha512-YW1rLJ+bRJi6nmxz2o41EtNaxud/NTCh588hhF4E84hP3UW9nMgx8bDWZQAbvbe1vd+AU8SZw6xDPP/kgziNmA=="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'player/project-player.js' %}"></script>
<script type="text/javascript" src="{% static 'player/project-party.js' %}"></script>
