{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.markers.min.js" crossorigin="anonymous"></script>
<script src="{% static 'player/player.js' %}"></script>
