{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js"
        integrity="sha512-6qulnA3DrFrQNLtwyY570I8kQuRBg4ahSIrlW9MlV7SZaommzfr0VrRBm8ZHL42cwt0cxwrSUB5ieQq9/rX2Jg=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"
        integrity="sha512-ubUAOCTdNruQML2OlykoWM3YnwauvPfMJZPE+nO9abg8QUYBsglyMjOTlsD99CqnhmuJD+rEcQxB2sGs8B/kbA=="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.markers.min.js"
        integrity="sha512-e2IPTWbkxZ8jSykAp3RjlaQF1ZscSLnRkQPTXDd24+3uDOPh5aD7MfaOwyAmjcRK08kPxjNfu9rvwvhi8kVdHQ=="
        crossorigin="anonymous"></script>
<script src="{% static 'player/player.js' %}"></script>
