{% extends 'core/base.html' %}
{% load bootstrap5 %}


{% block header %}
    <h1 class="h2">Create New Album</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
{% endblock %}
{% block content %}
    {% bootstrap_messages %}
    {{ form.errors }}
    <form class="form" method="post">
        {% bootstrap_form form %}
        {% csrf_token %}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Create</button>
        <a href="{% url 'core:project-detail' project.id %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}