<div class="modal" tabindex="-1" id="comment-delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Comment</h5>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="comment-delete-modal-body">
                <p class="lead">Are you sure?</p>
                <p>This comment will be deleted permanently. If you are sure, click the button below.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Close</button>
                <button class="btn btn-lg btn-danger" id="confirm-comment-delete" type="submit">DELETE</button>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-9 float-lg-start order-lg-3 order-2">
    <h2>Comments</h2>
    {% if song and song.url %}
        <button class="btn btn-primary" id="time-button">Comment at...</button>
    {% endif %}
    <form id="comment-form" method="post" action="
            {% if song %}{% url 'core:comment-create' project.id song.id %}{% else %}{% url 'core:comment-create' project.id %}{% endif %}">
        {% csrf_token %}
        <textarea name="text" id="comment-field" class="form-control"
                  placeholder="Write your comment here..."></textarea>
        {% if song %}
            <input type="hidden" name="song_time" id="song_time" value="0"/>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="Post Comment">
    </form>
    <div id="comment-div-inner">
        {% for comment in comments %}
            <div class="card col-md-9" id="comment-{{ comment.id }}">
                <div class="card-header">
                    <a href="{% url 'users:user-profile' comment.user.id %}">{{ comment.user.display_name }}</a>
                    &mdash; {{ comment.when_str }} ({{ comment.posted_date }})
                    {% if comment.edited %} (edited){% endif %}
                    {% if comment.requires_resolution and not comment.resolved %}
                        <span id="comment-unresolved-{{ comment.id }}" class="badge bg-warning">Unresolved</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if comment.song_time %}
                        <a role="button" class="timecode-link" id="time-{{ comment.song_time.total_seconds }}"
                           onclick="awp_player.seek({{ comment.song_time.total_seconds }});"><h5
                                class="card-title">{{ comment.timecode }}</h5></a>
                    {% endif %}
                    <p class="card-text">{{ comment.text }}</p>
                    {# <a href="#" class="btn btn-sm btn-primary">Reply</a>#}
                </div>
                <div class="card-footer text-muted">
                    {% if comment.user == user %}
                        <button class="btn btn-link btn-sm text-muted">Edit</button>
                        <button id="comment-delete-btn-{{ comment.id }}"
                                class="btn btn-link btn-sm text-muted comment-delete">Delete
                        </button>
                    {% else %}
                        <button class="btn btn-link btn-sm text-muted">Like</button>
                        <button class="btn btn-link btn-sm text-muted">Reply</button>
                    {% endif %}
                    {{ comment.likes }}
                    <button class="btn btn-link btn-sm text-muted">Assign</button>
                    {% if comment.requires_resolution and not comment.resolved %}
                        <button id="comment-resolve-btn-{{ comment.id }}"
                                class="btn btn-link btn-sm text-muted comment-resolve">Mark as resolved
                        </button>
                    {% else %}
                        <button id="comment-unresolve-btn-{{ comment.id }}"
                                class="btn btn-link btn-sm text-muted comment-resolve">Mark as needing resolution
                        </button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>