{% extends 'core/base.html' %}
{% load static %}

{% block header %}
    <h1 class="h2">{{ project.name }} Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="" class="btn btn-sm btn-outline-primary">Sync Project</a>
        </div>
        <div class="btn-group me-2">
            <a href="{% url 'core:song-create' project.id %}" class="btn btn-sm btn-outline-primary">New Song</a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit Project</button>
            <a href="{% url 'core:project-delete' project.id %}" class="btn btn-sm btn-outline-danger">Delete
                Project</a>
        </div>

        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            All albums
        </button>
    </div>
{% endblock %}

{% block sidebar %}
    {% if project.image %}
        <div class="nav flex-column">
            <img src="{{ project.image.url }}" width="75%"
                 style="padding-left: 10px; object-fit: cover; object-position: center">
        </div>
    {% endif %}

    {% include 'core/sidebar.html' %}
{% endblock %}


{% block content %}
    {% if songs %}
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Songs</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for song in songs %}
                <tr>
                    <td><a href="{% url 'core:song-detail' project.id song.id %}">{{ song.name }}</a></td>
                    <td>
                        {% if song.url %}
                            <audio controls preload="metadata" src="{{ song.url }}"> Your browser does not support the
                                <code>audio</code> element.
                            </audio>
                        {% else %}
                            <span class="text-muted">No audio</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-primary"><strong>No Songs here!</strong> Get started and <a
                href="{% url 'core:song-create' project.id %}">create one</a></div>
    {% endif %}
{% endblock %}
