{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <h1 class="h2">Edit song {{ song.name }} in Project {{ project.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
{% endblock %}

{% block sidebar %}
    {% if project.image %}
        <div class="nav flex-column">
            <img src="{{ project.image.url }}" width="75%"
                 style="padding-left: 10px; object-fit: cover; object-position: center">
        </div>
    {% endif %}

    {% include 'core/sidebar.html' %}
{% endblock %}

{% block content %}
    {% bootstrap_messages %}
    <form class="form" method="post">
        {% bootstrap_form form %}
        {% csrf_token %}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
        <a href="{% url 'core:song-detail' project.id song.id %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
