{% extends 'core/base.html' %}
{% load static %}

{% block header %}
    <h1 class="h2">{{ song.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit Song</button>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if song.project.image %}
        <div class="nav flex-column">
            <img src="{{ song.project.image.url }}" width="75%"
                 style="padding-left: 10px; object-fit: cover; object-position: center">
        </div>
    {% endif %}

    {% include 'core/sidebar.html' %}

{% endblock %}

{% block content %}
    
{% endblock %}
