{% load markdownify %}
{% if client_changes %}
    <div id="sync-changes-body">
    {% if show_dl %}
        <hr>
    {% endif %}
        <h3>Client Changelog</h3>
        {% for change in client_changes %}
            <div class="row">
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ change.version }}{% if change.date %} - {{ change.date }}{% endif %}</h4>
                        {{ change.format_changes|markdownify }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}