{% load markdownify %}
{% if client_changes %}
    <div id="sync-changes-body">
        <hr>
        <h3>Client Changelog</h3>
        {% for change in client_changes %}
            <div class="row">
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h3 class="card-title">{{ change.date }}</h3>
                        {{ change.format_changes|markdownify }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}