{% extends 'core/base.html' %}
{% load static %}

{% block sidebar_container %}{% endblock %}

{% block header %}
    <h1 class="h2">View Client Logs for {{ log_user }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
{% endblock %}

{% block content %}
    {% for log in clientlog_list %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'sync:log-detail' log_user.id log.id %}">{{ log }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}