{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Syncprojects Client Authorization{% endblock %}
{% block content %}
    <main class="form-signin">
        <img class="mb-4" src="{% static 'img/syncprojects.png' %}" alt="Syncprojects"/>
        <p>Logging you in...</p>
    </main>
    <script src="{% static 'sync/sync.js' %}"></script>
    <script>
        localRequest('auth', 'POST', {'data': "{{ auth_data }}"}).then(data => {
            document.location = "{% url 'sync:client-login-success' %}";
        });
    </script>
{% endblock %}