{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Syncprojects Client Authorization{% endblock %}
{% block content %}
    <main class="form-signin">
        <img class="mb-4" src="{% static 'img/syncprojects.png' %}" alt="Syncprojects"/>
        <p>Logging you in...</p>
    </main>
    <input type="hidden" id="auth_token" value="{{ auth_data }}">
    <input type="hidden" id="redirect_url" value="{% url 'sync:client-login-success' %}">
    <script src="{% static 'sync/sync.js' %}"></script>
    <script src="{% static 'sync/auth.js' %}"></script>
{% endblock %}