{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    {% if profile_user == user %}
        <title>User Profile</title>
    {% else %}
        <title>{{ profile_user }}'s Profile</title>
    {% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
    <h1 class="h2">
        {% if profile_user.is_private %}
            {{ profile_user.get_short_name }}
        {% else %}
            {{ profile_user.get_full_name }}
        {% endif %}
    </h1>
    <h6>({{ profile_user.email }})</h6>
    <div class="btn-toolbar mb-2 mb-md-0">
        {% if user == profile_user %}
            <div class="btn-group me-2">
                {% comment %}
                <a href="{% url 'core:user-update' request.user.id %}" class="btn btn-sm btn-outline-secondary">Edit
                    User</a>
                <a href="{% url 'core:user-delete' request.user.id %}" class="btn btn-sm btn-outline-danger">Delete
                    User</a>
            {% endcomment %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% if profile_user.profile_picture %}
        <div class="nav flex-column">
            <img src="{{ profile_user.profile_picture.url }}" width="75%"
                 style="padding-left: 10px; object-fit: cover; object-position: center">
        </div>
    {% endif %}

    {% include 'core/sidebar.html' %}

{% endblock %}

{% block content %}

{% endblock %}

{% block script %}
    {% include 'sync/script.html' %}
{% endblock %}
