{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <h1 class="h2">Edit user profile for {{ user }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% bootstrap_messages %}
    <form enctype="multipart/form-data" method="post" action="">
        {% bootstrap_form form %}
        {% csrf_token %}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
        <a href="{% url 'users:user-profile' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
